[Desktop Entry]
Name=message-notifier
Comment=Restart message notifier extension to show it extreme to the left
Exec=Name=message-notifier
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Hidden=true
